body {
    background-color: #727374;
    font-family: 'Texturina', serif;
}

.navbar {
    background-color: #575A5E;
    border-radius: 5px;
    height: 55px;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 0 20px; 
    box-sizing: border-box;
}


.icon {
    list-style-type: none; 
    display: flex;
    justify-content: space-between; 
    margin: 0;
    padding: 0; 
}

.icon li {
    margin-left: 20px;
}

.icon:hover{
    cursor: pointer;
}

.right-icons {
    display: flex;
}

.search {
    display: flex;
    justify-content: center;
    flex: 1;
    border-radius: 5px;
}

/* .logo img { */
    /* width: 10px; */
    /* height: 10px; */
/* } */

.banner img{
    width: 815px;
    height: 350px;
    border-radius: 5px;
}

.banner {
    display: flex;
    justify-content: center;
    margin-top: 40px;
    /* background-color: white; */
    /* height: 350px; */
    /* width: 990px; */
    border-radius: 5px;
}

.container {
    display: flex;
    justify-content: space-between;
    margin-top: 28px;
    width: 100%; 
}

.livro {
    background-color: #575A5E;
    width: 211px;
    height: 342px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
}

.livro img {
    height: 200px;
    margin-top: 10px;
}

.star {
    display: flex;    
    justify-content: center;
}